!!! XML
!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => 'en-us', :lang => 'en-us' }
  %head
    %title Partage
    %meta{ 'http-equiv' => "content-type", :content => "text/html; charset=utf-8" }
    %link{ :rel => 'stylesheet', :href => '/stylesheets/master.css', :media => 'screen', :charset => 'utf-8' }
    %link{ :rel => 'stylesheet', :href => '/stylesheets/jquery.autocomplete.css', :media => 'screen', :charset => 'utf-8' }
    %script{ :src => "/javascripts/jquery.js", :type => "text/javascript", :charset => "utf-8" }
    %script{ :src => "/javascripts/swfupload.js", :type => "text/javascript", :charset => "utf-8" }
    %script{ :src => "/javascripts/upload.js", :type => "text/javascript", :charset => "utf-8"}
    %script{ :src => "/javascripts/jquery.autocomplete.js", :type => "text/javascript", :charset => "utf-8"}
    %script{ :src => "/javascripts/jquery.jeditable.js", :type => "text/javascript", :charset => "utf-8"}
    %script{ :src => "/javascripts/lib/jquery.ajaxQueue.js", :type => "text/javascript", :charset => "utf-8"}
    %script{ :src => "/javascripts/lib/jquery.bgiframe.min.js", :type => "text/javascript", :charset => "utf-8"}
    
    :javascript
      $(document).ready(function() {
        $('#hide_notice_box').click(function() { $('#notice_box').fadeOut(1000); return false})
      })
    
  %body
    .container_12
      #header.grid_12
        %h1.alpha.grid_8 Partage
        %div.omega.grid_4
          - if session.authenticated?
            logged in as 
            %strong= session.user.email
            = link_to "logout", "/logout"
          - else
            = link_to "login", "/login"
      #content.grid_12
        - if message[:notice]
          .grid_6.prefix_3.suffix_3.alpha.omega
            #notice_box
              &= message[:notice]
              %a#hide_notice_box{ :href => "" } hide
        = catch_content :for_layout