.grid_12
  %h2
    = link_to @file_set.user.email, resource(@file_set.user)
    = "/"
    = @file_set.name

  %h3 Files
  %ul.file_list.grid_8.suffix_4.alpha.omega
    - for shared_file in @file_set.shared_files
      %li= link_to shared_file.filename, resource(@file_set.user, @file_set, shared_file)

  %h3 Shared with
  %ul
    - for friend in @file_set.friends
      %li= friend.email